PORT=3000
AWS_REGION=us-east-1
DYNAMODB_TABLE_PRODUCTS=Products
DYNAMODB_TABLE_TRANSACTIONS=Transactions
DYNAMODB_TABLE_CUSTOMERS=Customers
DYNAMODB_TABLE_DELIVERIES=Deliveries
DYNAMODB_TABLE_CHECKOUT_SESSIONS=CheckoutSessions
WOMPI_PUBLIC_KEY=
WOMPI_PRIVATE_KEY=
WOMPI_EVENTS_SECRET=
